<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-4 px-lg-5">
    <a href="#">
      <img
        class="navbar-brand"
        src="/assets/favicon.png"
        width="44"
        height="52"
      />
    </a>
    <a class="navbar-brand btn" href="#">DietApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <!--recipes-->      <li class="nav-item dropdown btn btn-outline-light">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >Recipes</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/breakfast">Breakfast</a></li>
            <li><a class="dropdown-item" routerLink="/lunch">Lunch</a></li>
            <li><a class="dropdown-item" routerLink="/dinner">Dinner</a></li>
            <li><a class="dropdown-item" routerLink="/dessert">Dessert</a></li>
            <li><a class="dropdown-item" routerLink="/drinks">Drinks</a></li>
            <li><a class="dropdown-item" routerLink="/snacks-and-appetizers">Snacks and Appetizers</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!"><strong>View All</strong></a></li>
          </ul>
        </li>
        <!--kitchen tips--> <li class="nav-item dropdown btn btn-outline-light">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >Kitchen Tips</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">Guide: Terms and Definitions</a></li>
            <li><a class="dropdown-item" href="#!">Meal Plans</a></li>
            <li><a class="dropdown-item" href="#!">Recipe Collections</a></li>
            <li><a class="dropdown-item" href="#!">Tips and Techniques</a></li>
            <li><a class="dropdown-item" href="#!">Guide: Ingredients</a></li>
            <li><a class="dropdown-item" href="#!">Guide: Cuisines</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!"><strong>View All</strong></a></li>
          </ul>
        </li>
        <!--explore-->      <li class="nav-item dropdown btn btn-outline-light">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >Explore</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">Most Recent</a></li>
            <li><a class="dropdown-item" href="#!">News and Trends</a></li>
            <li><a class="dropdown-item" href="#!">Famous Chefs</a></li>
            <li><a class="dropdown-item" href="#!">Voices</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!"><strong>View All</strong></a></li>
          </ul>
        </li>
        <!--forum-->        <li class="nav-item btn btn-outline-light"><a class="nav-link" href="#!">Forum</a></li>
        <!--about us-->     <li class="nav-item btn btn-outline-light"><a class="nav-link" href="#!">About Us</a></li>
      </ul>

      <form class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-person me-1"></i>
          <span>John Doe</span>
        </button>
      </form>
    </div>
  </div>
</nav>
