
<!--header (filter bar in the future) -->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">What's cooking?</h1>
      <p class="lead fw-normal text-white-50 mb-0">Select some filters!</p>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let product of products">
        <diet-app-test-recipe [recipe]="product"></diet-app-test-recipe>
      </div>
    </div>
  </div>
</section>

